fastapi
uvicorn
starlette
azure-core==1.26.1
azure-storage-blob==12.14.1
azure-identity
pytz
databases
sqlalchemy
pydantic[dotenv]
asyncpg
psycopg2
passlib
pyjwt
python-jose[cryptography]
bcrypt
python-multipart
fastapi-mail
Pillow